<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>
<div >
<h1>SIGNUP FORM</h1>
    <form action="/api/user" method="POST" style="display: flex;flex-direction: column;">
        <label>Full Name</label>
        <input type="text" required name="name" />
        <label>Email</label>
        <input type="text" required name="email" />
        <label>Password</label>
        <input type="text" required name="password" />
        <button type="submit">submit</button>
    </form>
</div>
    
</body>
</html>